<h1>Publications</h1>

<%# Iterate through each publication and make it look pretty -%>
<% @publications.each do |publication| %>
	
	<section>
		<h2><%= publication.title -%></h2>
		<p><%= publication.description -%></p>
		<p><%= publication.file_url -%></p>
		<%= link_to "View more details", publication_path(publication), class: "btn btn-default" %>		
	</section>
	
<% end %>

