<h1>Publications#index</h1>

<% @publications.each do |publication| %>
	
	<section>
		<h2><%= publication.title -%></h2>
		<p><%= publication.description -%></p>
		<p><%= publication.file_url -%></p>
		<%= link_to "View more details", publication_path(publication), class: "btn btn-default" %>		
	</section>
	
<% end %>

